<div class="container mt-5 mb-5">
    <div class="row">
        <div *ngIf="auth.user | async" class="mt-3">
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Usuario logueado</h4>
                <p>Login con angular completado</p>
              </div>
        </div>

<div class="accordion col-md-8 mx-auto" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            ¿Qué es esta página?
          </button>
        </h2>
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          Es un ejercicio de angular
          Nullam pellentesque fermentum dui, a aliquet tellus pulvinar in. Donec nec tortor sed tortor varius vestibulum id vitae orci.
            Donec ornare, purus ornare fringilla volutpat, orci ante porta ante, nec sagittis sem enim id ex. 
              Pellentesque sed bibendum eros. Vivamus rutrum tortor mauris, vitae elementum arcu lacinia eget. Donec sollicitudin justo 
              eget dui tempor vulputate. Maecenas condimentum justo nisi. In ut neque non urna aliquet vulputate nec et urna. Nulla purus 
              ligula, bibendum vel purus sit amet, tempus volutpat magna. Integer egestas nulla consequat laoreet cursus. 
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            ¿Qué es la Programación Orientada a Objetos?
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
            Nullam pellentesque fermentum dui, a aliquet tellus pulvinar in. Donec nec tortor sed tortor varius vestibulum id vitae orci. 
            Donec ornare, purus ornare fringilla volutpat, orci ante porta ante, nec sagittis sem enim id ex. Pellentesque sed bibendum eros.
             Vivamus rutrum tortor mauris, vitae elementum arcu lacinia eget. Donec sollicitudin justo eget dui tempor vulputate. Maecenas condimentum justo nisi. In ut neque non urna aliquet vulputate nec et urna. Nulla purus ligula, bibendum vel purus sit amet, tempus volutpat magna. Integer egestas nulla consequat laoreet cursus. 
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            ¿Qué es un algoritmo?
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
            Nullam pellentesque fermentum dui, a aliquet tellus pulvinar in. Donec nec tortor sed tortor varius vestibulum id vitae orci.
            Donec ornare, purus ornare fringilla volutpat, orci ante porta ante, nec sagittis sem enim id ex. 
            Pellentesque sed bibendum eros. Vivamus rutrum tortor mauris, vitae elementum arcu lacinia eget. Donec sollicitudin justo 
            eget dui tempor vulputate. Maecenas condimentum justo nisi. In ut neque non urna aliquet vulputate nec et urna. Nulla purus 
            ligula, bibendum vel purus sit amet, tempus volutpat magna. Integer egestas nulla consequat laoreet cursus. 
        </div>
      </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingFour">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
              ¿Qué es un algoritmo?
            </button>
          </h2>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
          <div class="card-body">
              Nullam pellentesque fermentum dui, a aliquet tellus pulvinar in. Donec nec tortor sed tortor varius vestibulum id vitae orci.
              Donec ornare, purus ornare fringilla volutpat, orci ante porta ante, nec sagittis sem enim id ex. 
              Pellentesque sed bibendum eros. Vivamus rutrum tortor mauris, vitae elementum arcu lacinia eget. Donec sollicitudin justo 
              eget dui tempor vulputate. Maecenas condimentum justo nisi. In ut neque non urna aliquet vulputate nec et urna. Nulla purus 
              ligula, bibendum vel purus sit amet, tempus volutpat magna. Integer egestas nulla consequat laoreet cursus. 
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingFive">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
              ¿Qué es un algoritmo?
            </button>
          </h2>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
          <div class="card-body">
              Nullam pellentesque fermentum dui, a aliquet tellus pulvinar in. Donec nec tortor sed tortor varius vestibulum id vitae orci.
              Donec ornare, purus ornare fringilla volutpat, orci ante porta ante, nec sagittis sem enim id ex. 
              Pellentesque sed bibendum eros. Vivamus rutrum tortor mauris, vitae elementum arcu lacinia eget. Donec sollicitudin justo 
              eget dui tempor vulputate. Maecenas condimentum justo nisi. In ut neque non urna aliquet vulputate nec et urna. Nulla purus 
              ligula, bibendum vel purus sit amet, tempus volutpat magna. Integer egestas nulla consequat laoreet cursus. 
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingSix">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSex" aria-expanded="false" aria-controls="collapseThree">
              ¿Qué es un algoritmo?
            </button>
          </h2>
        </div>
        <div id="collapseSex" class="collapse" aria-labelledby="headingSex" data-parent="#accordionExample">
          <div class="card-body">
              Nullam pellentesque fermentum dui, a aliquet tellus pulvinar in. Donec nec tortor sed tortor varius vestibulum id vitae orci.
              Donec ornare, purus ornare fringilla volutpat, orci ante porta ante, nec sagittis sem enim id ex. 
              Pellentesque sed bibendum eros. Vivamus rutrum tortor mauris, vitae elementum arcu lacinia eget. Donec sollicitudin justo 
              eget dui tempor vulputate. Maecenas condimentum justo nisi. In ut neque non urna aliquet vulputate nec et urna. Nulla purus 
              ligula, bibendum vel purus sit amet, tempus volutpat magna. Integer egestas nulla consequat laoreet cursus. 
          </div>
        </div>
      </div>
  </div>
    </div>
</div>
