<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="../../../assets/Img/logoReto.png" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" routerLink ="Home" routerLinkActive="active">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink ="About" routerLinkActive="active">About Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " routerLink ="Contact" routerLinkActive="active" >Contact</a>
                </li>
                <ng-template #showLogin>
                    <li class="nav-item" >
                        <a class="nav-link btn-login" routerLink ="login" routerLinkActive="active"><span class="badge badge-primary"><i class="fas fa-user"></i> Login</span></a>
                    </li>
                </ng-template>
                <li class="nav-item" *ngIf="auth.user | async; else showLogin" >
                    <a class="nav-link btn-login" (click)="LogOut()" href="#"><span class="badge badge-primary"><i class="fas fa-user"></i>LogOut</span></a>
                </li>
              </ul>
        </div>
    </div>
    </nav>